body {
background-color:whitesmoke;
}
.fontAwesome {
    font-family: 'Helvetica', FontAwesome, 'Times New Roman', Times, serif;
  }
#img1 {
    height: 30px;
    width: 30px;
    float: left;
    padding : 5px;
    padding-left: 150px;
    

}
#img2{
    float: left;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
#hd1 {
    height:40px;
    padding :5px;
    background-color:#283e4a;
}
#searchbox {
    float: left;
    height: 17px;
    padding : 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}
#icon1 {
    color:rgba(238, 229, 212, 0.87);
    padding-left: 50px;
    font-size: 40px;
    float: left;
}
#icon2 {
    color:rgba(238, 229, 212, 0.87);
    padding-left: 50px;
    font-size: 30px;
    float: left;

}
#icon3 {
    color:rgba(238, 229, 212, 0.87);
    padding-left: 50px;
    font-size: 30px;
    float: left;

}
#icon4 {
    color:rgba(238, 229, 212, 0.87);
    padding-left: 50px;
    font-size: 30px;
    float: left;

}
#icon5 {
    color:rgba(238, 229, 212, 0.87);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    float: left;
}

.dots{
    float: left;
    font-size: 17px;
    color: white;
    
    
}
.work{
    font-size: 12px;
    position: relative;
    top:23px;
    right:100px;
    border-radius: 10%;

   
}
#icon6{
    padding-left: 50px;
}
#icon8{
    padding-right: 50px;
}
.premium{
    position: relative;
   float: right;
   text-align: center;
   padding-right: 100px;
   color:rgb(165, 164, 164);
   bottom: 30px;
}
#a1{
  background-color: white;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  margin-top: 25px;
}
#a2{
    background-color: white;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  margin-top: 25px;
  box-shadow: 1px 1px 2px grey;
}
#a3{
    background-color: white;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  font-style: italic;
  
}
aside:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.arts
{
    border-bottom: 1px solid grey;
}
#icon9{
    padding-right: 10px;
}
#icon10{
    padding-right: 10px;
}
#icon11{
    padding-right: 10px;
}
aside {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
  }
aside:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  
.drop-option{
    background-color:#b1e4ff;
}
#img2{
    float: left;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
#img3{
    float: left;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding-bottom: 13px;
    padding-top :13px;
    margin-right: 20px;
}
#searchbox {
    float: left;
    height: 17px;
    padding : 5px;
    padding-top: 10px;
    padding-bottom: 8px;
}
#img4{
    float: left;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding-bottom: 13px;
    padding-top :13px;
    margin-right: 20px;
}
#img5{
    float: left;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding-bottom: 13px;
    padding-top :13px;
    margin-right: 20px;
}